body {
    color: var(--color-white);
    background-color: var(--color-primary);

    >#__nuxt {
        min-height: 100vh;
        display: flex;
        flex-direction: column
    }
}

.container {
    @apply mx-auto;
}

button {
    @apply cursor-pointer
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
    font-family: 'Orbitron';
    letter-spacing: 2px;
}

a {
    display: inline-block
}