* {
    color: var(--color-white);
}
body {
    background-color: var(--color-primary);

    > #__nuxt {
        min-height: 100vh;
        display: flex;
        flex-direction: column
    }
}

.container {
    @apply mx-auto;
}