@import "tailwindcss";
@import "@nuxt/ui";
@theme {
  --color-primary: rgb(10, 29, 41);
  --color-secondary: rgb(15, 44, 62);
  --color-tertiary: rgb(255, 160, 0);
}
body {
    background-color: rgb(10, 29, 41);
}

@import "./components/_index.css";